@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'RocGrotesk';
  font-weight: 600;
  src: url('/fonts/Roc_Grotesk.ttf');
}

@font-face {
  font-family: 'HeadingNow';
  font-weight: 100;
  src: url('/fonts/Heading_Now.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
